/* ===== CONTAINER ===== */
.beranda-container {
  padding: 20px;
  background-color: #e8f0ff;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/* ===== HEADER ===== */
.beranda-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.clickable-row {
  cursor: pointer;
  transition: background-color 0.3s;
}

.clickable-row:hover {
  background-color: #f0f8ff;
}


.title-box h2 {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  line-height: 1.3;
}

.title-box h3 {
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  color: #003366;
}

/* ===== ADMIN BOX (pojok kanan atas) ===== */
.admin-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-info {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.admin-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.admin-name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

/* ===== TOMBOL KEMBALI ===== */
.btn-kembali {
  background-color: #f78b1f;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-kembali:hover {
  background-color: #e57900;
}

/* ===== TABLE WRAPPER ===== */
.table-container {
  background: white;
  border-radius: 10px;
  padding: 15px;
  border: 2px solid #008000;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.3);
}

/* ===== TABLE ===== */
.beranda-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.beranda-table th {
  background-color: #009846;
  color: white;
  text-align: center;
  padding: 10px;
}

.beranda-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.beranda-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* ===== ICONS ===== */
.aksi-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.icon.view {
  color: #0056b3;
}

.icon.edit {
  color: #007bff;
}

.icon.delete {
  color: #dc3545;
}

.icon:hover {
  transform: scale(1.2);
}
