
.kelola-form {
  background: white;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #eafbea;
}

.btn-input {
  background: #28a745;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-input:disabled {
  background: #ccc;
  cursor: not-allowed;
}
